.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.gradient-text {
  background: linear-gradient(to bottom, #a35823 0%,#fcf072 30%,#fcf074 37%,#fcf17b 40%,#fcf286 41%,#fdf497 43%,#fdf6ad 44%,#fef9c9 45%,#fffde8 46%,#ffffff 47%,#fceac4 57%,#fad890 68%,#f8ca67 78%,#f6c04a 87%,#f5ba38 94%,#f5b832 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.btn {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-height: 42px;
  border: none !important;
  border-radius: 0;
  box-shadow: none !important;
  overflow: hidden;
  outline: none !important;
  padding: 13px 10px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;

  svg {
    width: 0;
    height: 24px;
    fill: var(--white);
    transition: $transition-base;
  }

  &-lg {
    padding: 24px;
  }

  &-primary {
    background: linear-gradient(to bottom, #a35823 0%,#fcf072 30%,#fcf074 37%,#fcf17b 40%,#fcf286 41%,#fdf497 43%,#fdf6ad 44%,#fef9c9 45%,#fffde8 46%,#ffffff 47%,#fceac4 57%,#fad890 68%,#f8ca67 78%,#f6c04a 87%,#f5ba38 94%,#f5b832 100%) !important;
    box-shadow: none !important;
    color: $main-first-color !important;

    &:focus,
    &:hover {}
    &:not(:disabled):not(.disabled):active {}
  }

  &:hover {
    svg {
      width: 24px;
      margin-left: 16px;
    }
  }
}

form {
  .form {
    &-input-button {
      position: static;
      top: 0;
      right: 0;
      display: block;
      max-width: 110px;
      width: 100%;
      height: 36px;
      margin: 12px 0 0 auto;
      background: var(--gold);
      color: var(--white);
    }

    &-button-pass {
      position: absolute;
      top: 0;
      right: 0;
      width: 48px;
      height: 100%;
      padding: 0;
      background: none;
      border: none;
      outline: none !important;
      box-shadow: none !important;

      svg {
        width: 24px;
        height: 24px;
        fill: var(--black);
        pointer-events: none;
      }
    }
  }

  .form-group {
    position: relative;
    width: 100%;
    margin: 0;
  }

  .form-control {
    height: 42px;
    padding: 16px 10px;
    background: var(--white);
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    color: var(--black);
    outline: none !important;
    transition: $transition-base;

    &:focus {
      background: var(--white);

      & ~ .form-label {
        top: -6px;
        left: 16px;
        background: var(--blue);
        padding: 0 4px;
        opacity: 1;
        font-size: 12px;
        line-height: 1;
      }
    }

    &:not(:placeholder-shown) {
      background: var(--white);

      & ~ .form-label {
        top: -6px;
        left: 16px;
        background: var(--blue);
        padding: 0 4px;
        opacity: 1;
        font-size: 12px;
        line-height: 1;
      }
    }

    &.access {
      &:not(:placeholder-shown) {
        border-color: #3eb94a;
      }
    }

    &.error {
      &:not(:placeholder-shown) {
        border-color: #f84a24;
      }
    }
  }

  .form-text {
    margin: 0 0 20px;
  }

  textarea {
    min-height: 60px;
    max-height: 250px;
  }
}

.modal {
  backdrop-filter: blur(266px);
  -webkit-backdrop-filter: blur(266px);
  background: url('../img/modal-decor.gif') repeat-x top center;
  overflow-x: hidden;
  overflow-y: auto;

  &-dialog {
    //max-width: 480px;
    margin-right: auto;
    margin-left: auto;

    &.modal {
      &-lg {
        max-width: 960px;
      }
    }
  }

  &-content {
    background: none;
    border: none;
    box-shadow: none !important;
    position: static;
  }

  .close {
    display: none; //hidden button close
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 42px;
    height: 42px;
    overflow: hidden;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 0;
    transform: translateX(-50%);

    &::before, &::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 2px;
      background: #fff;
      transform: translate(-50%, -50%);
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &-backdrop {
    background: #6b0425;
  }
}

.modal-open {
  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

$select2-color: $main-first-color;
.select2 {
  &-container {
    &--default {
      .select2 {
        &-selection--single {
          height: 40px;
          padding: 10px;
          background: $select2-color;
          border-color: var(--white);
          border-radius: 0;

          .select2-selection {
            &__placeholder {
              color: var(--white);
              font-size: 14px;
              line-height: 1;
            }
            &__rendered {
              padding: 0;
              color: var(--white);
              font-size: 14px;
              line-height: 1;
            }
            &__arrow {
              width: 40px;
              height: 100%;

              b {
                width: 12px;
                height: 20px;
                margin: 0;
                background: url('../img/chevrone.svg') no-repeat center;
                -webkit-background-size: contain;
                background-size: contain;
                border: none;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
        &-results__option {
          &--highlighted {
            &.select2-results__option--selectable {
              background: var(--white);
              color: var(--black);
            }
          }
          &--selected {
            color: var(--black);
          }
        }
      }
      &.select2-container--open {
        .select2-selection--single {
          .select2-selection__arrow {
            b {
              transform: translate(-50%, -50%) rotate3d(1, 0, 0, 180deg);
            }
          }
        }
      }
    }

    &.select2-container--below {
      .select2-selection__rendered {
        color: var(--white);
      }
    }
  }
  &-dropdown {
    background: $select2-color;
  }
}